<form action="/sessions" method="POST">
  <h2>Login here</h2>
  <input type="email" name="email" placeholder="email" required><br>
  <input type="password" name="password" placeholder="password" required><br><br>
  <input type="submit" value="Log In"><br><br>
  <h4>Don't have an account? Sign up <a href="/signup">here</a>!</h4>
</form>
