<form action="/sessions" method="POST">
  <h1>My Game Collection</h1><hr>
  <h3>Log in</h3>
  <input type="email" name="email" placeholder="email" required><br><br>
  <input type="password" name="password" placeholder="password" required><br><br>
  <input type="submit" value="Log In"><br><br>
  <h3>Don't have an account? Sign up <a href="/signup" style="text-decoration: none">here</a>!</h3>
</form>
