<h2>Sign Up Error!</h2><br><br>
<h4>Sorry! It looks like that email is being used.  Try logging in <a href="/sessions/login" style="text-decoration: none">here</a> or <a href="/sessions/signup" style="text-decoration: none">go back</a> to the sign up page</h4>
