<h1><%= current_user.firstname %>'s Game Collection</h1><hr><br>

<h3>Are you sure you want to logout?</h3><br><br>


<a href="/logout" style="text-decoration: none">Yes</a> |
<a href="/user_account" style="text-decoration: none">No</a>
