<h1><%= current_user.firstname %>'s Game Collection</h1><hr><br>
<h3>List of games</h3><br><br>
<ul>
  <% current_user.games.each do |game| %>
    <li><%= game.title %></li><br>
  <% end %>
</ul><br><br>


<a href="/games/new_game">add a game</a>
<a href="/user_account">go back to account</a>
