<div class="container" style="text-align: center">
  <h5>Don't have an account? Sign up <a href="/signup">here</a>!</h5>
  <h5>Already have an account? Login <a href="/sessions/login">here</a>!</h5>
</div>
