<form action="/signup" method="POST">
  <input type="text" name="first_name" placeholder="first name" required>
  <input type="text" name="last_name" placeholder="last name" required><br>
  <input type="email" name="email" placeholder="email address" required><br>
  <input type="password" name="password" placeholder="password" required><br><br>
  <input type="submit" value="Sign Up">
</form>
