
<h1> <%= current_user.firstname %>'s Game Collection</h1>

<h2>Welcome back, <%= current_user.firstname %>!</h2>


<div class="linkgroup">
  <a href="/user_account" style="text-decoration: none">Go to account</a><br><br>
  <a href="/logout" style="text-decoration: none">Log out</a>
</div>
