<h1> <%= current_user.firstname %>'s Game Collection</h1>

<h2>Welcome, <%= current_user.firstname %>!</h2>

<div class="linkgroup">
  <a href="/user_account">Go to account</a>
  <a href="/logout">Log out</a>
</div>
